
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.flex-container {
    display:direction;
    padding: 20px 400px;
    gap: 50px
}

.flex-item{
    background-color: whitesmoke ;
    border: 10px 20px ;
    padding: 50px 50px;
}
.flex-item2{
    background-color: goldenrod ;
    padding: 50px 50px;
}